In [1]:
import pandas as pd
import dtale
# helps convert zip to lat and long
from pyzipcode import ZipCodeDatabase

# needed columns

# import data

In [2]:
# 2019 report
staffing_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','staffing'
                              )

In [3]:
retention_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','teacher_retention'
                              )

In [4]:
grades_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','overall_grades'
                              )

In [5]:
finance_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','finance'
                              )

In [6]:
enrollment_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','enrollment'
                              )

In [7]:
# 2019 report
act_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','ACT'
                              )
# 2019 report
absent_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','chronic_absenteeism'
                              )
# 2019 report
dropout_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','dropout'
                              )
# 2019 report
grad_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','grad_rate'
                              )

# staff

In [8]:
staffing_df.columns

Index(['district_number', 'district_name', 'school_number', 'school_name',
       'year', 'n_staff', 'role', 'entity'],
      dtype='object')

In [9]:
staffing_df=staffing_df.drop(['district_number', 'school_number','entity','year'
                         ], axis=1)

In [10]:
#staffing_df.isnull().sum()
# staffing_df.head(10)

#staffing_df.shape

In [11]:
# remove missing
staffing_df=staffing_df.dropna()

In [12]:
# make long to wide
staffing_df=staffing_df.pivot_table(index=["district_name", "school_name"], 
                    columns='role', 
                    values='n_staff')

In [13]:
staffing_df=staffing_df.drop(['all_educators', 'support_coach','support_inter','support_coun',
                              'support_librarian','support_other'
                         ], axis=1)

In [14]:
staffing_df=staffing_df.dropna()

In [15]:
staffing_df.shape

(1833, 2)

# absentee

In [16]:
# remove columns
absent_df=absent_df.drop(['district_number', 'school_number','year','denominator',
                              'baseline_year'
                         ], axis=1)

In [17]:
# filter by subgroup
absent_df=absent_df[absent_df.subgroup =='all_students']

In [18]:
# remove missing data
absent_df=absent_df.dropna()

In [19]:
# remove *

In [20]:
absent_df.shape

(1886, 5)

# join absentee and staff

In [21]:
# join by school_name
merge_a=absent_df.merge(staffing_df,how='inner', on="school_name")

In [22]:
merge_a=merge_a.drop_duplicates(subset=['school_name'])

In [23]:
merge_a.head(10)

,district_name,school_name,subgroup,percent_ca,percent_ca_previous,admin,teacher
0,State of Tennessee,All Schools,all_students,12.5,12.9,41.0,588.0
22052,Anderson County Schools,Anderson County High School,all_students,15.1,18.3,5.0,53.0
22053,Anderson County Schools,Andersonville Elementary,all_students,8.6,10.6,1.0,24.0
22054,Anderson County Schools,Briceville Elementary,all_students,9.4,23,1.0,11.0
22055,Anderson County Schools,Claxton Elementary,all_students,14.4,21.3,2.0,35.0
22056,Anderson County Schools,Clinton Middle School,all_students,20.8,19.2,3.0,41.0
22057,Anderson County Schools,Clinton High School,all_students,17.8,21.8,5.0,68.0
22058,Anderson County Schools,Dutch Valley Elementary,all_students,11.9,14.3,1.0,8.0
22059,Anderson County Schools,Fairview Elementary,all_students,4.6,6.8,1.0,22.0
22075,Anderson County Schools,Grand Oaks Elementary,all_students,10.9,14.1,1.0,20.0

In [24]:
merge_a.shape

(1608, 7)

In [25]:

# remove all schools
merge_a=merge_a[merge_a['school_name'] !='All Schools']

In [26]:
merge_a=merge_a.drop(['subgroup'],axis=1)

In [27]:
merge_a.head()

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher
22052,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0
22053,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0
22054,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0
22055,Anderson County Schools,Claxton Elementary,14.4,21.3,2.0,35.0
22056,Anderson County Schools,Clinton Middle School,20.8,19.2,3.0,41.0

# Retention

In [28]:
# drop columns
# remove columns
retention_df=retention_df.drop(['district_number', 'school_number','year'
                              
                         ], axis=1)

In [29]:
retention_df.isnull().sum()

district_name       91
school_name         91
percent_retained     3
dtype: int64

In [30]:
# remove missing
retention_df=retention_df.dropna()

In [31]:
# remove all schools
retention_df=retention_df[retention_df['school_name'] !='All Schools' ]

In [32]:
#retention_df

In [33]:
retention_df.shape

(1724, 3)

In [34]:
retention_df

,district_name,school_name,percent_retained
151,Metro Nashville Public Schools,A. Z. Kelley Elementary,77.4
152,Arlington Municipal School District,Arlington High,92.1
153,Rutherford County Schools,Blackman Elementary School,74.3
154,Anderson County Schools,Anderson County High School,91.0
155,Knox County Schools,Amherst Elementary School,85.0
...,...,...,...
1961,Shelby County Schools,Gateway University,0
1962,Shelby County Schools,Kaleidoscope School of Memphis,0
1963,Shelby County Schools,Memphis School of Excellence Elementary,100.0
1964,Shelby County Schools,Power Center Academy Elementary - Southeast,14.3
1965,Shelby County Schools,Southwest Early College High School,66.7

In [35]:
# drop district_name
retention_df= retention_df.drop(['district_name'],axis=1)

# merge retention with staff and absent

In [36]:
# join by school_name
merge_b= merge_a.merge(retention_df,how='inner', on="school_name")

In [37]:
merge_b

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1
2,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0,60.0
3,Anderson County Schools,Claxton Elementary,14.4,21.3,2.0,35.0,63.0
4,Anderson County Schools,Clinton Middle School,20.8,19.2,3.0,41.0,77.6
...,...,...,...,...,...,...,...
1666,Achievement School District,KIPP Memphis Preparatory Elementary,21.7,37.3,1.0,19.0,90.9
1667,Achievement School District,Cornerstone Prep Denver Campus,26.1,13.7,1.0,40.0,55.0
1668,Achievement School District,Kirby Middle School,25.1,16.8,3.0,19.0,77.8
1669,Achievement School District,Hillcrest High School,42.1,48.2,2.0,26.0,51.1
1670,Tennessee State Board of Education,Bluff City High School,29.9,23.3,2.0,13.0,66.7

In [38]:
# remove dup
merge_b=merge_b.drop_duplicates(subset=['school_name'])

In [39]:
# convert to a csv
#merge_b.to_csv('asr_tn_data.csv', index=False)

In [40]:
merge_b.head(3)

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1
2,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0,60.0

# grades

In [41]:
grades_df

,district_number,district_name,school_number,school_name,year,pool,score_achievement,score_growth,score_absenteeism,score_elpa,score_grad,score_ready_grad
0,10,Anderson County Schools,2,Anderson County High School,2019,HS,2.6,3.6,4.0,NaN,4.0,4.0
1,10,Anderson County Schools,5,Andersonville Elementary,2019,K8,4.0,3.4,3.4,NaN,NaN,NaN
2,10,Anderson County Schools,10,Briceville Elementary,2019,K8,2.0,3.8,4.0,NaN,NaN,NaN
3,10,Anderson County Schools,15,Claxton Elementary,2019,K8,2.0,2.7,4.0,NaN,NaN,NaN
4,10,Anderson County Schools,20,Clinton Middle School,2019,K8,1.7,0.5,2.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1753,985,Achievement School District,8130,Memphis Scholars Raleigh-Egypt,2019,K8,1.0,0.9,2.0,NaN,NaN,NaN
1754,985,Achievement School District,8135,Kirby Middle School,2019,K8,1.1,2.0,0.4,1.0,NaN,NaN
1755,985,Achievement School District,8140,Hillcrest High School,2019,HS,1.1,1.3,3.5,NaN,0.0,0.0
1756,986,Tennessee State Board of Education,8005,Bluff City High School,2019,K8,1.7,3.6,0.0,4.0,NaN,NaN
1757,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,K8,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
grades_df= grades_df.drop(['district_name','district_number','school_number','year','score_ready_grad',
                           'score_grad','score_elpa'
                          ],axis=1)

In [43]:
grades_df=grades_df.dropna()

In [44]:
grades_df.shape

(1654, 5)

In [45]:
# join by school_name
merge_c= merge_b.merge(grades_df,how='inner', on="school_name")

In [46]:
# remove dup
merge_c=merge_c.drop_duplicates(subset=['school_name'])

In [47]:
merge_c.shape

(1537, 11)

In [48]:
# convert to a csv
#merge_c.to_csv('asrg_tn_data.csv', index=False)

# enrollment

In [49]:
enrollment_df

,district_number,district_name,school_number,school_name,year,subgroup,grades_served,value,value_previous
0,0,State of Tennessee,0,All Schools,2019,all_students,PK-12,973659.0,975222.0
1,0,State of Tennessee,0,All Schools,2019,all_students,PK-12,973659.0,975222.0
2,0,State of Tennessee,0,All Schools,2019,bhn,PK-12,35.2,34.7
3,0,State of Tennessee,0,All Schools,2019,bhn,PK-12,35.2,34.7
4,0,State of Tennessee,0,All Schools,2019,ed,PK-12,34.9,36.1
...,...,...,...,...,...,...,...,...,...
34321,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,race_h,Grades K-4,29.9,NaN
34322,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,race_i,Grades K-4,0.0,NaN
34323,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,race_pi,Grades K-4,0.0,NaN
34324,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,race_w,Grades K-4,14.6,NaN
34325,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,swd,Grades K-4,15.3,NaN

In [50]:
# filter by subgroup
enrollment_df=enrollment_df[enrollment_df.subgroup =='all_students']

In [51]:
enrollment_df=enrollment_df.drop(['district_name','district_number','school_number','year',
                           'grades_served'
                          ],axis=1)

In [52]:
enrollment_df=enrollment_df.drop(['subgroup'],axis=1)

In [53]:
# remove all schools
enrollment_df=enrollment_df[enrollment_df['school_name'] !='All Schools' ]

In [54]:
merge_d= merge_c.merge(enrollment_df,how='inner', on="school_name")

In [55]:
merge_d=merge_d.drop_duplicates(subset=['school_name'])

In [88]:
merge_d.to_csv('asrge_tn_data.csv', index=False)

# ACT

In [61]:
# remove all schools
act_df=act_df[act_df['school_name'] !='All Schools']

In [62]:
# filter by subgroup
act_df=act_df[act_df.subgroup =='all_students']

AttributeError: 'DataFrame' object has no attribute 'subgroup'

In [63]:
act_df=act_df.drop(['district_name','district_number','school_number','year','english_avg','math_avg',
                           'science_avg','reading_avg','percent_met_crb_reading','avg_composite_baseline_year',
                    'percent_21_orhigher_baseline_year','subgroup','percent_met_crb_english','percent_met_crb_math',
            'percent_met_crb_science','percent_met_all4_crb',              
            ],axis=1)

KeyError: "['district_name' 'district_number' 'school_number' 'year' 'english_avg'\n 'math_avg' 'science_avg' 'reading_avg' 'percent_met_crb_reading'\n 'avg_composite_baseline_year' 'percent_21_orhigher_baseline_year'\n 'subgroup' 'percent_met_crb_english' 'percent_met_crb_math'\n 'percent_met_crb_science' 'percent_met_all4_crb'] not found in axis"

In [65]:
# remove all schools
act_df= act_df.dropna()

In [78]:
act_df= act_df[act_df['percent_21_orhigher_previous']!= '*']

In [79]:
act_df= act_df[act_df['percent_21_orhigher_previous']!= '**']

In [76]:
act_df= act_df[act_df['avg_composite_previous']!= '*']

In [77]:
act_df= act_df[act_df['avg_composite_previous']!= '**']

In [69]:
act_df= act_df[act_df['act_composite_avg']!= '*']

In [70]:
act_df= act_df[act_df['act_composite_avg']!= '**']

In [ ]:
# remove ** and * from 21 or higher avg_composit and 21_or higher previous 2017

In [73]:
act_df= act_df[act_df['percent_21_orhigher']!= '**']

In [74]:
act_df= act_df[act_df['percent_21_orhigher']!= '*']

In [85]:
act_df.shape

(328, 5)

In [90]:
# merge
merge_e=merge_d.merge(act_df,how='inner', on="school_name")

In [91]:
merge_e=merge_e.drop_duplicates(subset=['school_name'])

In [94]:
merge_e.head(3)

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained,pool,score_achievement,score_growth,score_absenteeism,value,value_previous,act_composite_avg,percent_21_orhigher,avg_composite_previous,percent_21_orhigher_previous
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0,HS,2.6,3.6,4.0,1075.0,1056.0,19.7,41.6,19.8,39.7
1,Anderson County Schools,Clinton High School,17.8,21.8,5.0,68.0,88.3,HS,2.9,1.7,4.0,1120.0,1168.0,19.1,34.8,18.5,32
2,Oak Ridge City Schools,Oak Ridge High School,17.5,21.9,6.0,98.0,94.6,HS,2.7,3.2,4.0,1406.0,1414.0,23.3,65.7,22.8,64.9

# Drop out

In [111]:
dropout_df.head()

                     school_name percent_dropout percent_dropout_previous
78   Anderson County High School             1.2                        3
104          Clinton High School               4                      5.9
273        Cloudland High School            10.9                      6.6
299          Hampton High School             7.9                      6.4
325     Happy Valley High School             7.1                        4

In [95]:
# filter by subgroup
dropout_df=dropout_df[dropout_df.subgroup =='all_students']

In [96]:
# remove all schools
dropout_df=dropout_df[dropout_df['school_name'] !='All Schools']

In [99]:
dropout_df=dropout_df.drop(['district_name','district_number','school_number','year','denominator','subgroup',
                           'baseline_year'              
            ],axis=1)

In [103]:
dropout_df= dropout_df[dropout_df['percent_dropout']!= '*']

In [109]:
dropout_df= dropout_df[dropout_df['percent_dropout_previous']!= '*']

In [110]:
dropout_df.shape

(357, 3)

In [113]:
# merge
merge_f= merge_e.merge(dropout_df,how='inner', on="school_name")

In [114]:
merge_f=merge_f.drop_duplicates(subset=['school_name'])

In [116]:
merge_f.shape

(305, 19)

# Grad rate

In [137]:
#grad_df.grad_rate.unique()

In [131]:
grad_df.head(3)

                     school_name grad_rate grad_rate_previous
48   Anderson County High School      98.4               95.4
128          Clinton High School        94               92.5
432        Oak Ridge High School      87.7               89.5

In [118]:
# filter by subgroup
grad_df=grad_df[grad_df.subgroup =='all_students']

In [120]:
# remove all schools
grad_df=grad_df[grad_df['school_name'] !='All Schools']

In [122]:
grad_df=grad_df.drop(['district_name','district_number','school_number','year','baseline_year','subgroup','denominator'],
                     axis=1)

In [129]:
grad_df= grad_df[grad_df['grad_rate']!= '*']

In [134]:
grad_df= grad_df[grad_df['grad_rate_previous']!= '**']

In [125]:
grad_df=grad_df.dropna()

In [138]:
grad_df.shape

(359, 3)

In [140]:
merge_g= merge_f.merge(dropout_df,how='inner', on="school_name")

In [141]:
merge_g=merge_g.drop_duplicates(subset=['school_name'])

In [142]:
merge_g.shape

(305, 21)

In [143]:
import dtale

In [144]:
d = dtale.show(merge_g)
d.open_browser()

Executing shutdown...

2021-05-29 19:06:25,635 - INFO     - Executing shutdown...

# finance

In [ ]:
# new df to aggregate enrollment