In [1]:
import pandas as pd
import dtale
# helps convert zip to lat and long
from pyzipcode import ZipCodeDatabase

# needed columns

# import data

In [3]:
# 2019 report
staffing_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','staffing'
                              )

In [61]:
retention_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','teacher_retention'
                              )

In [97]:
grades_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','overall_grades'
                              )

In [80]:
finance_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','finance'
                              )

In [115]:
enrollment_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','enrollment'
                              )

In [38]:
# 2019 report
act_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','ACT'
                              )
# 2019 report
absent_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','chronic_absenteeism'
                              )
# 2019 report
dropout_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','dropout'
                              )
# 2019 report
grad_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','grad_rate'
                              )

# staff

In [27]:
staffing_df.columns

Index(['admin', 'all_educators', 'support_coach', 'support_coun',
       'support_inter', 'support_librarian', 'support_other', 'teacher'],
      dtype='object', name='role')

In [11]:
staffing_df=staffing_df.drop(['district_number', 'school_number','entity','year'
                         ], axis=1)

In [16]:
#staffing_df.isnull().sum()
# staffing_df.head(10)

#staffing_df.shape

In [14]:
# remove missing
staffing_df=staffing_df.dropna()

In [25]:
# make long to wide
staffing_df=staffing_df.pivot_table(index=["district_name", "school_name"], 
                    columns='role', 
                    values='n_staff')

In [31]:
staffing_df=staffing_df.drop(['all_educators', 'support_coach','support_inter','support_coun',
                              'support_librarian','support_other'
                         ], axis=1)

In [35]:
staffing_df=staffing_df.dropna()

In [37]:
staffing_df.shape

(1833, 2)

# absentee

In [44]:
# remove columns
absent_df=absent_df.drop(['district_number', 'school_number','year','denominator',
                              'baseline_year'
                         ], axis=1)

In [48]:
# filter by subgroup
absent_df=absent_df[absent_df.subgroup =='all_students']

In [50]:
# remove missing data
absent_df=absent_df.dropna()

In [ ]:
# remove *

In [53]:
absent_df.shape

(1886, 5)

# join absentee and staff

In [57]:
# join by school_name
merge_a=absent_df.merge(staffing_df,how='inner', on="school_name")

In [58]:
merge_a=merge_a.drop_duplicates(subset=['school_name'])

In [60]:
merge_a.head(10)

,district_name,school_name,subgroup,percent_ca,percent_ca_previous,admin,teacher
0,State of Tennessee,All Schools,all_students,12.5,12.9,41.0,588.0
22052,Anderson County Schools,Anderson County High School,all_students,15.1,18.3,5.0,53.0
22053,Anderson County Schools,Andersonville Elementary,all_students,8.6,10.6,1.0,24.0
22054,Anderson County Schools,Briceville Elementary,all_students,9.4,23,1.0,11.0
22055,Anderson County Schools,Claxton Elementary,all_students,14.4,21.3,2.0,35.0
22056,Anderson County Schools,Clinton Middle School,all_students,20.8,19.2,3.0,41.0
22057,Anderson County Schools,Clinton High School,all_students,17.8,21.8,5.0,68.0
22058,Anderson County Schools,Dutch Valley Elementary,all_students,11.9,14.3,1.0,8.0
22059,Anderson County Schools,Fairview Elementary,all_students,4.6,6.8,1.0,22.0
22075,Anderson County Schools,Grand Oaks Elementary,all_students,10.9,14.1,1.0,20.0

In [59]:
merge_a.shape

(1608, 7)

In [84]:

# remove all schools
merge_a=merge_a[merge_a['school_name'] !='All Schools']

In [87]:
merge_a=merge_a.drop(['subgroup'],axis=1)

In [88]:
merge_a.head()

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher
22052,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0
22053,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0
22054,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0
22055,Anderson County Schools,Claxton Elementary,14.4,21.3,2.0,35.0
22056,Anderson County Schools,Clinton Middle School,20.8,19.2,3.0,41.0

# Retention

In [64]:
# drop columns
# remove columns
retention_df=retention_df.drop(['district_number', 'school_number','year'
                              
                         ], axis=1)

In [65]:
retention_df.isnull().sum()

district_name       91
school_name         91
percent_retained     3
dtype: int64

In [66]:
# remove missing
retention_df=retention_df.dropna()

In [76]:
# remove all schools
retention_df=retention_df[retention_df['school_name'] !='All Schools' ]

In [79]:
#retention_df

In [68]:
retention_df.shape

(1872, 3)

In [82]:
retention_df

,district_name,school_name,percent_retained
151,Metro Nashville Public Schools,A. Z. Kelley Elementary,77.4
152,Arlington Municipal School District,Arlington High,92.1
153,Rutherford County Schools,Blackman Elementary School,74.3
154,Anderson County Schools,Anderson County High School,91.0
155,Knox County Schools,Amherst Elementary School,85.0
...,...,...,...
1961,Shelby County Schools,Gateway University,0
1962,Shelby County Schools,Kaleidoscope School of Memphis,0
1963,Shelby County Schools,Memphis School of Excellence Elementary,100.0
1964,Shelby County Schools,Power Center Academy Elementary - Southeast,14.3
1965,Shelby County Schools,Southwest Early College High School,66.7

In [90]:
# drop district_name
retention_df= retention_df.drop(['district_name'],axis=1)

# merge retention with staff and absent

In [92]:
# join by school_name
merge_b= merge_a.merge(retention_df,how='inner', on="school_name")

In [93]:
merge_b

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1
2,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0,60.0
3,Anderson County Schools,Claxton Elementary,14.4,21.3,2.0,35.0,63.0
4,Anderson County Schools,Clinton Middle School,20.8,19.2,3.0,41.0,77.6
...,...,...,...,...,...,...,...
1666,Achievement School District,KIPP Memphis Preparatory Elementary,21.7,37.3,1.0,19.0,90.9
1667,Achievement School District,Cornerstone Prep Denver Campus,26.1,13.7,1.0,40.0,55.0
1668,Achievement School District,Kirby Middle School,25.1,16.8,3.0,19.0,77.8
1669,Achievement School District,Hillcrest High School,42.1,48.2,2.0,26.0,51.1
1670,Tennessee State Board of Education,Bluff City High School,29.9,23.3,2.0,13.0,66.7

In [95]:
# remove dup
merge_b=merge_b.drop_duplicates(subset=['school_name'])

In [96]:
# convert to a csv
merge_b.to_csv('asr_tn_data.csv', index=False)

In [100]:
merge_b.head(3)

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1
2,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0,60.0

# grades

In [109]:
grades_df

,school_name,pool,score_achievement,score_growth,score_absenteeism
0,Anderson County High School,HS,2.6,3.6,4.0
1,Andersonville Elementary,K8,4.0,3.4,3.4
2,Briceville Elementary,K8,2.0,3.8,4.0
3,Claxton Elementary,K8,2.0,2.7,4.0
4,Clinton Middle School,K8,1.7,0.5,2.4
...,...,...,...,...,...
1752,Memphis Scholars Caldwell-Guthrie,K8,1.2,3.0,0.0
1753,Memphis Scholars Raleigh-Egypt,K8,1.0,0.9,2.0
1754,Kirby Middle School,K8,1.1,2.0,0.4
1755,Hillcrest High School,HS,1.1,1.3,3.5
1756,Bluff City High School,K8,1.7,3.6,0.0

In [102]:
grades_df= grades_df.drop(['district_name','district_number','school_number','year','score_ready_grad',
                           'score_grad','score_elpa'
                          ],axis=1)

In [105]:
grades_df=grades_df.dropna()

In [106]:
grades_df.shape

(1654, 5)

In [111]:
# join by school_name
merge_c= merge_b.merge(grades_df,how='inner', on="school_name")

In [112]:
# remove dup
merge_c=merge_c.drop_duplicates(subset=['school_name'])

In [113]:
merge_c.shape

(1537, 11)

In [114]:
# convert to a csv
merge_c.to_csv('asrg_tn_data.csv', index=False)

# enrollment

In [129]:
enrollment_df

                                school_name   value  value_previous
2682            Anderson County High School  1075.0          1056.0
2700               Andersonville Elementary   304.0           310.0
2718                  Briceville Elementary   117.0           109.0
2736                     Claxton Elementary   443.0           459.0
2754                  Clinton Middle School   664.0           666.0
...                                     ...     ...             ...
34236        Memphis Scholars Raleigh-Egypt   103.0            99.0
34254                   Kirby Middle School   384.0           393.0
34272                 Hillcrest High School   461.0           442.0
34290                Bluff City High School   305.0           156.0
34308  KIPP Antioch College Prep Elementary   144.0             NaN

[1758 rows x 3 columns]

In [121]:
# filter by subgroup
enrollment_df=enrollment_df[enrollment_df.subgroup =='all_students']

In [123]:
enrollment_df=enrollment_df.drop(['district_name','district_number','school_number','year',
                           'grades_served'
                          ],axis=1)

In [126]:
enrollment_df=enrollment_df.drop(['subgroup'],axis=1)

In [128]:
# remove all schools
enrollment_df=enrollment_df[enrollment_df['school_name'] !='All Schools' ]

In [132]:
merge_d= merge_c.merge(enrollment_df,how='inner', on="school_name")

In [133]:
merge_d=merge_d.drop_duplicates(subset=['school_name'])

In [141]:
merge_d.head(3)a

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained,pool,score_achievement,score_growth,score_absenteeism,value,value_previous
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0,HS,2.6,3.6,4.0,1075.0,1056.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1,K8,4.0,3.4,3.4,304.0,310.0
2,Anderson County Schools,Briceville Elementary,9.4,23,1.0,11.0,60.0,K8,2.0,3.8,4.0,117.0,109.0

# ACT

In [160]:
dfa.head(3)

,school_name,act_composite_avg,percent_21_orhigher,avg_composite_previous,percent_21_orhigher_previous
0,All Schools,20.2,43.3,20.1,42.1
1,All Schools,20.2,43.3,20.1,42.1
12,All Schools,19.4,38,19.1,35.5

In [161]:
# remove all schools
act_df=act_df[act_df['school_name'] !='All Schools']

In [137]:
# filter by subgroup
act_df=act_df[act_df.subgroup =='all_students']

In [153]:
act_df=act_df.drop(['district_name','district_number','school_number','year','english_avg','math_avg',
                           'science_avg','reading_avg','percent_met_crb_reading','avg_composite_baseline_year',
                    'percent_21_orhigher_baseline_year','subgroup','percent_met_crb_english','percent_met_crb_math',
            'percent_met_crb_science','percent_met_all4_crb',              
            ],axis=1)

In [157]:
# remove all schools
act_df= act_df.dropna()

In [ ]:
# remove *

In [ ]:
# remove **

In [165]:
act_df.tail()

,school_name,act_composite_avg,percent_21_orhigher,avg_composite_previous,percent_21_orhigher_previous
11268,Pathways in Education - TN,*,*,*,*
11274,Pathways in Education - Whitehaven,*,*,*,*
11328,Fairley High School,15.4,5.6,15.7,9.4
11340,Martin Luther King Preparatory High School,15.5,5.7,15.4,**
11412,Hillcrest High School,15.3,**,15.4,**

In [171]:
act_df= act_df[act_df['act_composite_avg']!= '*']

In [173]:
act_df= act_df[act_df['act_composite_avg']!= '**']

In [ ]:
# remove ** and * from 21 or higher avg_composit and 21_or higher previous 2017

In [163]:
act_df.shape

(359, 5)

# Drop out

# Grad rate

# finance

In [ ]:
# new df to aggregate enrollment