In [6]:
import pandas as pd
import dtale

In [ ]:
'''
enrollment_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','enrollment'
                              )


'''

In [ ]:
# school_chronic_absenteeism_suppressed.csv
absent_df=pd.read_csv('school_chronic_absenteeism_suppressed.csv')

In [3]:
finance_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','finance'
                              )
tn_school_2019 = pd.read_csv('../data/clean_data/tn_school_data_clean_2019.csv')

tn_school_2020=pd.read_csv('../data/clean_data/clean_data_1.csv')

absent_df = pd.read_csv('../data/original_data/school_chronic_absenteeism_suppressed.csv')

data_from_2019=pd.read_csv('../data/clean_data/asrge_tn_data.csv')

<ipython-input-3-b5e8b6da5931>:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  enrollment_2020 = pd.read_csv('../data/original_data/reportcarddata2020.xlsx','enrollment')

In [8]:
enrollment_2020 = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','enrollment')

In [20]:
finance_df_2020= pd.read_csv('../data/clean_data/finance_county.csv')

In [47]:
tn_school_2020=pd.read_csv('../data/clean_data/clean_data_3.csv')

In [32]:
tn_school_2020

,school_name,percent_suspended,percent_expelled,percent_committed_zero_tolerance,zipcode,longitude,latitude,graduation rate,dropout_rate,number of students total,percentage of ready graduates,district_name,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,percent_scoring_21_or_higher,percent_scoring_below_19
0,Anderson County High School,2.5,0.0,0.5,37716.0,-84.14656,36.099283,96.1,1.4,280.0,50.0,Anderson County,100,19.8,19.4,20.7,20.1,20.1,42.8,42.8
1,Clinton High School,6.9,0.0,0.4,37716.0,-84.14656,36.099283,95.2,3.7,272.0,35.7,Anderson County,100,18.3,18.0,19.1,19.1,18.8,32.2,53.9
2,Oak Ridge High School,8.4,0.0,0.9,37830.0,-84.27044,35.992691,92.1,6.6,304.0,65.5,Oak Ridge,97,23.0,22.2,24.2,23.2,23.3,64.3,23.9
3,Cascade High School,0.7,0.0,0.0,37183.0,-86.30889,35.508541,98.2,0.9,114.0,45.6,Bedford County,99,20.7,19.5,21.3,21.1,20.8,46.8,34.2
4,Shelbyville Central High School,3.6,0.0,0.4,37160.0,-86.45974,35.470660,88.7,8.7,390.0,24.9,Bedford County,96,17.3,18.1,18.5,18.5,18.3,27.8,62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Lebanon High School,7.9,0.7,1.0,37087.0,-86.29271,36.240331,94.5,4.3,493.0,32.5,Wilson County,99,18.8,18.2,19.6,19.3,19.1,33.3,50.6
287,Mt. Juliet High School,5.5,0.0,0.5,37122.0,-86.49732,36.195016,97.1,1.8,550.0,64.0,Wilson County,100,23.0,21.4,23.5,22.9,22.9,64.3,21.2
288,Watertown High School,7.2,0.0,0.9,37184.0,-86.13715,36.096166,95.9,2.1,145.0,37.9,Wilson County,98,19.4,18.9,20.1,20.4,19.9,40.4,44.9
289,Wilson Central High School,4.8,0.0,0.6,37090.0,-86.31061,36.147433,96.7,1.5,457.0,48.4,Wilson County,100,20.2,19.6,21.1,20.9,20.6,47.5,36.1
290,Alvin C. York Institute,0.0,0.0,0.0,38556.0,-84.93393,36.409385,91.9,5.9,136.0,36.0,Alvin C York Institute,98,18.5,19.3,19.5,19.1,19.3,39.8,50.4

In [34]:
import dtale

In [ ]:
'''d = dtale.show(tn_school)
d.open_browser()'''

# combine 2019 and 2020 data

In [48]:
tn_school_2019.columns

Index(['index', 'district_name', 'school_name', 'pool', 'score_achievement',
       'score_growth', 'score_absenteeism', 'act_composite_avg',
       'percent_21_orhigher', 'avg_composite_previous',
       'percent_21_orhigher_previous', 'percent_dropout',
       'percent_dropout_previous', 'percent_ca', 'percent_ca_previous',
       'admin', 'teacher', 'percent_retained', 'enrollment_2019',
       'enrollment_2018'],
      dtype='object')

In [49]:
tn_school_2020.columns

Index(['school_name', 'percent_suspended', 'percent_expelled',
       'percent_committed_zero_tolerance', 'zipcode', 'longitude', 'latitude',
       'graduation rate ', 'dropout_rate', 'number of students total',
       'percentage of ready graduates', 'district_name', 'participation_rate',
       'average_english_score', 'average_math_score', 'average_reading_score',
       'average_science_score', 'average_composite_score',
       'percent_scoring_21_or_higher', 'percent_scoring_below_19',
       'pct_chronically_absent'],
      dtype='object')

In [50]:
df=tn_school_2020.drop(['district_name'],axis=1)

In [51]:
# final merge
dfa=df.merge(tn_school_2019,how='inner', on="school_name")

In [52]:
dfa.columns

Index(['school_name', 'percent_suspended', 'percent_expelled',
       'percent_committed_zero_tolerance', 'zipcode', 'longitude', 'latitude',
       'graduation rate ', 'dropout_rate', 'number of students total',
       'percentage of ready graduates', 'participation_rate',
       'average_english_score', 'average_math_score', 'average_reading_score',
       'average_science_score', 'average_composite_score',
       'percent_scoring_21_or_higher', 'percent_scoring_below_19',
       'pct_chronically_absent', 'index', 'district_name', 'pool',
       'score_achievement', 'score_growth', 'score_absenteeism',
       'act_composite_avg', 'percent_21_orhigher', 'avg_composite_previous',
       'percent_21_orhigher_previous', 'percent_dropout',
       'percent_dropout_previous', 'percent_ca', 'percent_ca_previous',
       'admin', 'teacher', 'percent_retained', 'enrollment_2019',
       'enrollment_2018'],
      dtype='object')

Executing shutdown...

2021-05-29 22:43:59,289 - INFO     - Executing shutdown...

In [53]:
d = dtale.show(dfa)
d.open_browser()

Executing shutdown...
Executing shutdown...

2021-05-29 23:18:57,166 - INFO     - Executing shutdown...

# Take 2020 data and remove all but enrollment and county to merge with finance

# Merge 2019 and 2020 data on absent

In [11]:
enrollment_2020.head(3)

,district_number,district_name,school_number,school_name,year,grades_served,subgroup,value_previous,value
0,0,State of Tennessee,0,NaN,2020,Grades PK-12,all_students,973659.0,1014502.0
18,10,Anderson County,0,NaN,2020,Grades PK - 12,all_students,6201.0,6435.0
36,11,Clinton,0,NaN,2020,Grades PK - 6,all_students,917.0,974.0

In [13]:
enrollment_2020.isnull().sum()

district_number      0
district_name        0
school_number        0
school_name        148
year                 0
grades_served        0
subgroup             0
value_previous     135
value                0
dtype: int64

In [10]:
enrollment_2020=enrollment_2020[enrollment_2020.subgroup =='all_students']

In [17]:
enrollment_2020=enrollment_2020.drop(['district_number','school_number','year','grades_served',
                                      'subgroup','school_name','value_previous'],
                     axis=1)

In [19]:
enrollment_2020=enrollment_2020.groupby(['district_name']).sum()

In [23]:
enrollment_2020.shape

(148, 1)

In [30]:
data_from_2019

,district_name,school_name,percent_ca,percent_ca_previous,admin,teacher,percent_retained,pool,score_achievement,score_growth,score_absenteeism,value,value_previous
0,Anderson County Schools,Anderson County High School,15.1,18.3,5.0,53.0,91.0,HS,2.6,3.6,4.0,1075.0,1056.0
1,Anderson County Schools,Andersonville Elementary,8.6,10.6,1.0,24.0,58.1,K8,4.0,3.4,3.4,304.0,310.0
2,Anderson County Schools,Briceville Elementary,9.4,23.0,1.0,11.0,60.0,K8,2.0,3.8,4.0,117.0,109.0
3,Anderson County Schools,Claxton Elementary,14.4,21.3,2.0,35.0,63.0,K8,2.0,2.7,4.0,443.0,459.0
4,Anderson County Schools,Clinton Middle School,20.8,19.2,3.0,41.0,77.6,K8,1.7,0.5,2.4,664.0,666.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,Achievement School District,KIPP Memphis Preparatory Elementary,21.7,37.3,1.0,19.0,90.9,K8,1.0,1.0,4.0,412.0,313.0
1533,Achievement School District,Cornerstone Prep Denver Campus,26.1,13.7,1.0,40.0,55.0,K8,2.7,3.7,0.0,590.0,578.0
1534,Achievement School District,Kirby Middle School,25.1,16.8,3.0,19.0,77.8,K8,1.1,2.0,0.4,384.0,393.0
1535,Achievement School District,Hillcrest High School,42.1,48.2,2.0,26.0,51.1,HS,1.1,1.3,3.5,461.0,442.0
1536,Tennessee State Board of Education,Bluff City High School,29.9,23.3,2.0,13.0,66.7,K8,1.7,3.6,0.0,305.0,156.0

In [26]:
finance_df.head(5)

,district_number,district_ppe,district_name,year,local_funding_percent,federal_funding_percent,state_funding_percent
0,10,10353.68,Anderson County Schools,2019,36.73,16.17,47.10
1,100,10006.20,Carter County Schools,2019,24.22,14.33,61.45
2,101,9868.60,Elizabethton City Schools,2019,34.82,10.07,55.11
3,11,10032.86,Clinton City School District,2019,40.65,9.13,50.22
4,110,8803.32,Cheatham County School District,2019,33.40,9.39,57.21

In [24]:
finance_df_2020.head(5)

,district_name,zipcode,longitude,latitude,Total_School_Per_Pupil_Expenditures,Total_Expenditures_Per_School,Local_Percentage,Federal_Percentage,State_Percentage
0,Anderson County,37716,-84.146560,36.099283,10440.46,10440.46,38.99,14.35,46.66
1,Clinton,37716,-84.146560,36.099283,10111.35,10111.35,43.48,8.94,47.58
2,Oak Ridge,37831,-84.195796,36.105971,13041.51,13041.51,54.76,8.48,36.76
3,Bedford County,37160,-86.459740,35.470660,8263.84,8263.84,18.23,12.57,69.19
4,Benton County,38320,-88.101370,36.050286,10628.28,10628.28,29.21,10.59,60.20

In [22]:
finance_df_2020.shape

(126, 9)