In [1]:
import pandas as pd

# helps convert zip to lat and long
from pyzipcode import ZipCodeDatabase

In [2]:
#tn_school =pd.read_csv('../data/clean_data/clean_data.csv')

In [3]:
#tn_school.shape

In [138]:
absent_df = pd.read_csv('../data/original_data/school_chronic_absenteeism_suppressed.csv')

In [139]:
absent_df=absent_df[absent_df.subgroup =='All Students']

In [6]:
# remove *
#absent_df['pct_chronically_absent']= absent_df['pct_chronically_absent'].replace('*','0')

In [7]:
# remove *
#absent_df['pct_chronically_absent']= absent_df['pct_chronically_absent'].replace('**','0')

In [8]:
#absent_df['pct_chronically_absent']=absent_df['pct_chronically_absent'].astype(float)

In [144]:
absent_df=absent_df.drop(['system', 'school','grade_band','n_chronically_absent',
                 'n_students' ], axis=1)

In [146]:
absent_df=absent_df.drop(['subgroup'],axis=1)

In [11]:
#absent_df.columns

In [148]:
absent_df=absent_df[absent_df['pct_chronically_absent'] != '**']

In [149]:
absent_df=absent_df[absent_df['pct_chronically_absent'] != '*']

In [13]:
#absent_df.head(3)

In [14]:
#absent_df.pct_chronically_absent.unique()

In [15]:
#absent_df.head(20)
#absent_df.shape

In [16]:
# merge by school name
#clean_df=tn_school.merge(absent_df,how='inner', on="school_name")

In [17]:
#finance_df =pd.read_csv('../data/clean_data/clean_county_data.csv')

In [18]:
#finance_df.shape

In [19]:
#absent_df = absent_df.rename(columns={'system_name': 'district_name'
                       
   #                    })

In [20]:
#absent_df=absent_df.groupby(['district_name']).mean()

In [21]:
# merge by district
#finance_clean_df=finance_df.merge(absent_df,how='inner', on="district_name")

In [22]:
#finance_clean_df.to_csv('finance_cean_data_1',index=False)

In [23]:
# drop system name, total
#clean_df=clean_df.drop(['system_name', 'number of students total'
 #                        ], axis=1)

In [24]:
# convert to a csv
#clean_df.to_csv('clean_data_1.csv', index=False)

In [25]:
# needed columns for discipline,dropout, gradrate, and readygrad

#finance_fields =[]
discipline_fields =['students_total','district_name','percent_suspended',
                    'percent_expelled','percent_committed_zero_tolerance','school_name']
dropout_fields =['district_name','school_name','dropout_rate','subgroup']
grad_fields =['district_name','graduation rate ','school_name','subgroup']
gradready_fields =['district_name','school_name','subgroup',
                   'percentage of ready graduates','number of students total']
act_fields =['district_name','school_name','participation_rate','average_english_score','subgroup',
             'average_math_score','average_reading_score','average_science_score',
             'average_composite_score','percent_scoring_21_or_higher','percent_scoring_below_19']
school_fields =['school_name','zipcode']

finance_fields=['District Name','Total School Per Pupil Expenditures',
                'Total Expenditures Per School','Local Percentage','Federal Percentage',
               'State Percentage']
district_fields =['district','zipcode']

In [26]:
# import finance data only need 141 rows the rest are missing
finance_school = pd.read_csv('../data/original_data/finance_data.csv',
                            usecols=finance_fields,nrows=142)
# 2020 report data on discipline
# usecols=discipline_fields
discipline_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','overall_discipline',
                              usecols=discipline_fields
                              )

district_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','district_info',
                              usecols=district_fields
                              )

school_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','school_info',
                              usecols=school_fields
                              )


# dropout_district
# usecols=dropout_fields
dropout_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','dropout_school',
                           usecols=dropout_fields
                          )
# grad_rate_district
# usecols=grad_fields
gradrate_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','grad_rate_school'
                           ,usecols=grad_fields)
# ready_grad_district
# usecols=gradready_fields
readygrad_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','ready_grad_school'
                          ,usecols=gradready_fields )
act_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','ACT_school',
                      usecols=act_fields)
# import data
tn_school = pd.read_csv('../data/clean_data/clean_data.csv')

In [27]:
'''dropout18_df = pd.read_excel('../data/original_data/reportcarddata2018.xlsx','dropout'
                             
                              )'''

"dropout18_df = pd.read_excel('../data/original_data/reportcarddata2018.xlsx','dropout'\n                             \n                              )"

In [28]:
'''dropout19_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','dropout'
                             
                              )'''

"dropout19_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','dropout'\n                             \n                              )"

In [29]:
#dropout19_df=dropout19_df[['district_name','school_name','percent_dropout']]

In [30]:
#dropout19_df=dropout19_df[dropout19_df.subgroup =='all_students']

In [31]:
#dropout19_df=dropout19_df.dropna()

In [32]:
#dropout19_df=dropout19_df[dropout19_df['percent_dropout'] != '*']

In [33]:
#dropout19_df['percent_dropout']=dropout19_df['percent_dropout'].astype(float)

In [34]:
#dropout18_df=dropout18_df[dropout18_df.subgroup =='All Students']

In [35]:
#dropout18_df=dropout18_df.dropna()

In [36]:
#dropout18_df.shape
#dropout18_df.percent_dropout.unique
#dropout18_df.tail(15)

# clean finance data

In [37]:
finance_school = finance_school.rename(columns={'District Name': 'district_name', 'Total School Per Pupil Expenditures': 'Total_School_Per_Pupil_Expenditures',
                      'Total Expenditures Per School':'Total_Expenditures_Per_School',
                        'Local Percentage':'Local_Percentage','Federal Percentage':'Federal_Percentage',
                        'State Percentage':'State_Percentage'
                       
                       })

In [38]:
# drop missing
finance_school =finance_school.dropna()

In [39]:
#finance_school.isnull().sum()
#finance_school.shape
#finance_school.dtypes
#finance_school.head(5)

In [40]:
# remove % from columns
finance_school['Local_Percentage']=finance_school['Local_Percentage'].str.strip('%')
finance_school['Federal_Percentage']=finance_school['Federal_Percentage'].str.strip('%')
finance_school['State_Percentage']=finance_school['State_Percentage'].str.strip('%')

In [41]:
# convert to float
finance_school['Local_Percentage']=finance_school['Local_Percentage'].astype(float)
finance_school['Federal_Percentage']=finance_school['Federal_Percentage'].astype(float)
finance_school['State_Percentage']=finance_school['State_Percentage'].astype(float)

# clean district data 
## so it can be merged with finance

In [42]:
zipcode_database = ZipCodeDatabase()

In [43]:
def get_long(zip):
    try:
        return zipcode_database[zip].longitude
    except:
        pass
def get_lat(zip):
    try:
        return zipcode_database[zip].latitude
    except:
        pass

In [44]:
district_df['longitude'] = district_df['zipcode'].apply(get_long)
district_df['latitude'] = district_df['zipcode'].apply(get_lat)

In [45]:
# rename district
district_df= district_df.rename(columns={'district':'district_name'})

# merge district with finance

In [46]:
# merge by district_name
fd_df=district_df.merge(finance_school,how='inner', on="district_name")

In [47]:
#d_df.head(10)
fd_df.shape

(126, 9)

In [48]:

#fd_df.to_csv('finance_county.csv', index=False)

# group by distric with clean data

In [49]:
#tn_school.head(5)

In [50]:
# remove zip,long,lat,school_name
#filt_tn_school=tn_school.drop(columns={'zipcode','longitude','latitude','school_name',})

In [51]:
#filt_tn_school=filt_tn_school.groupby(['district_name']).mean()

In [52]:
#filt_tn_school.head(5)

# merge with clean data

In [53]:
# merge by district_name
#clean_county_data=fd_df.merge(filt_tn_school,how='inner', on="district_name")

In [54]:
#clean_county_data=clean_county_data.dropna()

In [55]:
# convert to a csv
#clean_county_data.to_csv('clean_county_data.csv', index=False)

# needed
## report data needs to filter to davidson county and merge by state
### drop rows that are not needed

# clean shchool data

In [56]:

school_df['longitude'] = school_df['zipcode'].apply(get_long)
school_df['latitude'] = school_df['zipcode'].apply(get_lat)

In [57]:
school_df.shape

(1878, 4)

# clean discipline data

In [58]:
discipline_df = discipline_df.iloc[1: , :]

In [59]:
discipline_df=discipline_df.dropna()

In [60]:
# counting the duplicates
#dups = discipline_df.pivot_table(index = ['school_name'], aggfunc ='size')

In [61]:
# dropping duplicate values
#discipline_df=discipline_df.drop_duplicates(subset=['school_name'])

In [62]:
discipline_df=discipline_df.drop(columns=['students_total'],axis=1)

# merge discipline and school data

In [63]:
# merge by school_name
merge_a=discipline_df.merge(school_df,how='right', on="school_name")

In [64]:
merge_a.shape

(2074, 8)

In [65]:
# dropping duplicate values
merge_a=merge_a.drop_duplicates(subset=['school_name'])

In [66]:
merge_a.shape

(1812, 8)

In [67]:
merge_a=merge_a.dropna()

In [68]:
merge_a.shape

(1731, 8)

# clean dropout data

In [69]:
dropout_df.isnull().sum()

district_name      91
school_name        91
subgroup            0
dropout_rate     1749
dtype: int64

In [70]:
dropout_df=dropout_df[dropout_df.subgroup =='All Students']

In [71]:
dropout_df.shape

(420, 4)

In [72]:
dropout_df=dropout_df.dropna()

In [73]:
dropout_df.head(5)

,district_name,school_name,subgroup,dropout_rate
0,Anderson County,Anderson County High School,All Students,1.4
14,Anderson County,Clinton High School,All Students,3.7
38,Oak Ridge,Oak Ridge High School,All Students,6.6
55,Bedford County,Cascade High School,All Students,0.9
71,Bedford County,Shelbyville Central High School,All Students,8.7

In [74]:
dropout_df=dropout_df.drop(['district_name', 'subgroup'], axis=1)

# clean graduate data

In [75]:
gradrate_df=gradrate_df[gradrate_df.subgroup =='All Students']

In [76]:
# remove *
gradrate_df= gradrate_df[gradrate_df['graduation rate ']!= '*']
#gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('*','0')

In [77]:
gradrate_df= gradrate_df[gradrate_df['graduation rate ']!= '**']

In [78]:
# remove **
#gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('**','0')

In [79]:
gradrate_df['graduation rate ']=gradrate_df['graduation rate '].astype(float)

In [80]:
#gradrate_df=gradrate_df[gradrate_df['graduation rate '] != 0]

In [81]:
gradrate_df.shape

(333, 4)

In [82]:
#gradrate_df=gradrate_df.drop(['district_name','subgroup'], axis=1)

# merge grad rate and dropout

In [83]:
# merge drop out and grad rate
merge_b=gradrate_df.merge(dropout_df,how='right', on="school_name")

In [84]:
merge_b.shape

(406, 5)

In [85]:
# dropping duplicate values
merge_b=merge_b.drop_duplicates(subset=['school_name'])

In [86]:
# drop columns
#merge_b=merge_b.drop(['district_name_y', 'subgroup_y'], axis=1)

In [87]:
# counting the duplicates
#dups = merge_b.pivot_table(index = ['school_name'], aggfunc ='size')

# merge a and b

In [88]:
merge_a.head(5)

,district_name,school_name,percent_suspended,percent_expelled,percent_committed_zero_tolerance,zipcode,longitude,latitude
0,Anderson County,Anderson County High School,2.5,0.0,0.5,37716,-84.14656,36.099283
2,Anderson County,Andersonville Elementary,0.0,0.0,0.0,37705,-84.01131,36.217896
3,Anderson County,Briceville Elementary,1.7,0.0,0.0,37710,-84.28968,36.152310
4,Anderson County,Claxton Elementary,1.5,0.0,0.0,37849,-84.04192,36.044507
5,Anderson County,Clinton Middle School,11.1,0.0,0.1,37716,-84.14656,36.099283

In [89]:
merge_b.head(5)

,district_name,school_name,subgroup,graduation rate,dropout_rate
0,Anderson County,Anderson County High School,All Students,96.1,1.4
1,Anderson County,Clinton High School,All Students,95.2,3.7
2,Oak Ridge,Oak Ridge High School,All Students,92.1,6.6
3,Bedford County,Cascade High School,All Students,98.2,0.9
4,Bedford County,Shelbyville Central High School,All Students,88.7,8.7

In [90]:
merge_b=merge_b.drop(['district_name', 'subgroup'], axis=1)

In [91]:
# merge 
merge_c=merge_a.merge(merge_b,how='right', on="school_name")

In [92]:
merge_c.shape

(364, 10)

In [93]:
#merge_c.head(5)

# clean readygrad_df

In [94]:
readygrad_df=readygrad_df[readygrad_df.subgroup =='All Students']

In [95]:
readygrad_df= readygrad_df[readygrad_df['percentage of ready graduates']!= '*']
#readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('*','0')

In [96]:
readygrad_df= readygrad_df[readygrad_df['percentage of ready graduates']!= '**']
#readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('**','0')

In [97]:
readygrad_df['percentage of ready graduates']=readygrad_df['percentage of ready graduates'].astype(float)

In [98]:
#readygrad_df[readygrad_df['percentage of ready graduates'] != 0]

In [99]:
readygrad_df.shape

(340, 5)

In [100]:
#readygrad_df.head(20)

In [101]:
readygrad_df=readygrad_df.drop(['district_name', 'subgroup'], axis=1)

# ACT CLEAN

In [102]:
act_df=act_df[act_df.subgroup =='All Students']

In [103]:
act_df=act_df.drop([ 'subgroup'], axis=1)

In [104]:
act_df=act_df.dropna()

## replace *

In [105]:
act_df= act_df[act_df['participation_rate']!= '*']
#act_df['participation_rate']= act_df['participation_rate'].replace('*','0')

In [106]:
act_df= act_df[act_df['average_english_score']!= '*']
#act_df['average_english_score']= act_df['average_english_score'].replace('*','0')

In [107]:
act_df= act_df[act_df['average_math_score']!= '*']
#act_df['average_math_score']= act_df['average_math_score'].replace('*','0')

In [108]:
act_df= act_df[act_df['average_reading_score']!= '*']
#act_df['average_reading_score']= act_df['average_reading_score'].replace('*','0')

In [109]:
act_df= act_df[act_df['average_science_score']!= '*']
#act_df['average_science_score']= act_df['average_science_score'].replace('*','0')

In [110]:
act_df= act_df[act_df['average_composite_score']!= '*']
#act_df['average_composite_score']= act_df['average_composite_score'].replace('*','0')

In [111]:
act_df= act_df[act_df['percent_scoring_21_or_higher']!= '*']
#act_df['percent_scoring_21_or_higher']= act_df['percent_scoring_21_or_higher'].replace('*','0')

In [112]:
act_df= act_df[act_df['percent_scoring_below_19']!= '*']
#act_df['percent_scoring_below_19']= act_df['percent_scoring_below_19'].replace('*','0')

## replace **

In [113]:
act_df= act_df[act_df['participation_rate']!= '**']
#act_df['participation_rate']= act_df['participation_rate'].replace('**','0')

In [114]:
act_df= act_df[act_df['average_english_score']!= '**']
#act_df['average_english_score']= act_df['average_english_score'].replace('**','0')

In [115]:
act_df= act_df[act_df['average_math_score']!= '**']
#act_df['average_math_score']= act_df['average_math_score'].replace('**','0')

In [116]:
act_df= act_df[act_df['average_reading_score']!= '**']
#act_df['average_reading_score']= act_df['average_reading_score'].replace('**','0')

In [117]:
act_df= act_df[act_df['average_science_score']!= '**']
#act_df['average_science_score']= act_df['average_science_score'].replace('**','0')

In [118]:
act_df= act_df[act_df['average_composite_score']!= '**']
#act_df['average_composite_score']= act_df['average_composite_score'].replace('**','0')

In [119]:
act_df= act_df[act_df['percent_scoring_21_or_higher']!= '**']
#act_df['percent_scoring_21_or_higher']= act_df['percent_scoring_21_or_higher'].replace('**','0')

In [120]:
act_df= act_df[act_df['percent_scoring_below_19']!= '**']
#act_df['percent_scoring_below_19']= act_df['percent_scoring_below_19'].replace('**','0')

In [121]:
#act_df.head(5)

In [122]:
#readygrad_df.head(5)

In [123]:
readygrad_df.shape

(340, 3)

In [124]:
# merge drop out and grad rate
merge_d=readygrad_df.merge(act_df,how='right', on="school_name")

In [125]:
merge_d.shape

(371, 12)

In [126]:
#merge_c.head(15)

In [127]:
merge_d.shape

(371, 12)

In [128]:
merge_c.shape

(364, 10)

In [129]:
merge_c=merge_c.drop(['district_name'], axis=1)

In [130]:
# final merge
merge_e=merge_c.merge(merge_d,how='right', on="school_name")

In [131]:
merge_e.shape

(371, 20)

In [132]:
merge_e.shape

(371, 20)

In [133]:
merge_e= merge_e.dropna()

In [134]:
merge_e=merge_e.drop_duplicates(subset=['school_name'])

In [155]:
absent_df=absent_df.drop(['system_name'],axis=1)

In [161]:
merge_e.shape

(291, 20)

In [164]:
absent_df

                                school_name pct_chronically_absent
0               Anderson County High School                   16.9
11                 Andersonville Elementary                    9.4
20                    Briceville Elementary                   19.5
27                       Claxton Elementary                   18.9
38                    Clinton Middle School                   21.4
...                                     ...                    ...
17234        Memphis Scholars Raleigh-Egypt                     37
17239                   Kirby Middle School                   18.8
17247                 Hillcrest High School                   39.5
17254                Bluff City High School                   34.7
17262  KIPP Antioch College Prep Elementary                    5.5

[1561 rows x 2 columns]

In [ ]:
# merge with

In [158]:
# final merge
merge_f= merge_e.merge(absent_df,how='inner', on="school_name")

In [163]:
merge_f.columns

Index(['school_name', 'percent_suspended', 'percent_expelled',
       'percent_committed_zero_tolerance', 'zipcode', 'longitude', 'latitude',
       'graduation rate ', 'dropout_rate', 'number of students total',
       'percentage of ready graduates', 'district_name', 'participation_rate',
       'average_english_score', 'average_math_score', 'average_reading_score',
       'average_science_score', 'average_composite_score',
       'percent_scoring_21_or_higher', 'percent_scoring_below_19',
       'pct_chronically_absent'],
      dtype='object')

In [159]:
# convert to a csv
merge_f.to_csv('clean_data_3.csv', index=False)