In [1]:
import pandas as pd

# helps convert zip to lat and long
from pyzipcode import ZipCodeDatabase

In [2]:
tn_school =pd.read_csv('../data/clean_data/clean_data.csv')

In [3]:
tn_school.shape

(354, 21)

In [4]:
absent_df = pd.read_csv('../data/original_data/school_chronic_absenteeism_suppressed.csv')

In [5]:
absent_df=absent_df[absent_df.subgroup =='All Students']

In [6]:
# remove *
absent_df['pct_chronically_absent']= absent_df['pct_chronically_absent'].replace('*','0')

In [7]:
# remove *
absent_df['pct_chronically_absent']= absent_df['pct_chronically_absent'].replace('**','0')

In [8]:
absent_df['pct_chronically_absent']=absent_df['pct_chronically_absent'].astype(float)

In [9]:
absent_df=absent_df.drop(['system', 'school','grade_band','n_chronically_absent',
                        'n_students' ], axis=1)

In [10]:
absent_df=absent_df.drop(['subgroup'],axis=1)

In [11]:
absent_df.columns

Index(['system_name', 'school_name', 'pct_chronically_absent'], dtype='object')

In [12]:
absent_df=absent_df[absent_df['pct_chronically_absent'] != 0]

In [16]:
absent_df.head(3)

        system_name                  school_name  pct_chronically_absent
0   Anderson County  Anderson County High School                    16.9
11  Anderson County     Andersonville Elementary                     9.4
20  Anderson County        Briceville Elementary                    19.5

In [23]:
#absent_df.pct_chronically_absent.unique()

In [27]:
#absent_df.head(20)
absent_df.shape

(1561, 3)

In [34]:
# merge by school name
clean_df=tn_school.merge(absent_df,how='inner', on="school_name")

In [17]:
finance_df =pd.read_csv('../data/clean_data/clean_county_data.csv')

In [18]:
finance_df.shape

(110, 25)

In [20]:
absent_df = absent_df.rename(columns={'system_name': 'district_name'
                       
                       })

In [23]:
absent_df=absent_df.groupby(['district_name']).mean()

In [25]:
# merge by district
finance_clean_df=finance_df.merge(absent_df,how='inner', on="district_name")

In [26]:
finance_clean_df.to_csv('finance_cean_data_1',index=False)

In [41]:
# drop system name, total
clean_df=clean_df.drop(['system_name', 'number of students total'
                         ], axis=1)

In [42]:
# convert to a csv
clean_df.to_csv('clean_data_1.csv', index=False)

In [5]:
# needed columns for discipline,dropout, gradrate, and readygrad

#finance_fields =[]
discipline_fields =['students_total','district_name','percent_suspended',
                    'percent_expelled','percent_committed_zero_tolerance','school_name']
dropout_fields =['district_name','school_name','dropout_rate','subgroup']
grad_fields =['district_name','graduation rate ','school_name','subgroup']
gradready_fields =['district_name','school_name','subgroup',
                   'percentage of ready graduates','number of students total']
act_fields =['district_name','school_name','participation_rate','average_english_score','subgroup',
             'average_math_score','average_reading_score','average_science_score',
             'average_composite_score','percent_scoring_21_or_higher','percent_scoring_below_19']
school_fields =['school_name','zipcode']

finance_fields=['District Name','Total School Per Pupil Expenditures',
                'Total Expenditures Per School','Local Percentage','Federal Percentage',
               'State Percentage']
district_fields =['district','zipcode']

In [3]:
# import finance data only need 141 rows the rest are missing
finance_school = pd.read_csv('../data/original_data/finance_data.csv',
                            usecols=finance_fields,nrows=142)
# 2020 report data on discipline
# usecols=discipline_fields
discipline_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','overall_discipline',
                              usecols=discipline_fields
                              )

district_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','district_info',
                              usecols=district_fields
                              )

school_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','school_info',
                              usecols=school_fields
                              )


# dropout_district
# usecols=dropout_fields
dropout_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','dropout_school',
                           usecols=dropout_fields
                          )
# grad_rate_district
# usecols=grad_fields
gradrate_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','grad_rate_school'
                           ,usecols=grad_fields)
# ready_grad_district
# usecols=gradready_fields
readygrad_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','ready_grad_school'
                          ,usecols=gradready_fields )
act_df = pd.read_excel('../data/original_data/reportcarddata2020.xlsx','ACT_school',
                      usecols=act_fields)
# import data
tn_school = pd.read_csv('../data/clean_data/clean_data.csv')

In [2]:
dropout18_df = pd.read_excel('../data/original_data/reportcarddata2018.xlsx','dropout'
                             
                              )

In [18]:
dropout19_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','dropout'
                             
                              )

In [33]:
dropout19_df.shape

(492, 10)

In [40]:
dropout19_df.tail(4)
#dropout19_df.dtypes

,district_number,district_name,school_number,school_name,year,subgroup,denominator,percent_dropout,baseline_year,percent_dropout_previous
24427,985,Achievement School District,50,Pathways in Education - Whitehaven,2018,all_students,122.0,63.9,2017.0,74.3
24544,985,Achievement School District,8055,Fairley High School,2018,all_students,182.0,16.5,2017.0,16.4
24570,985,Achievement School District,8065,Martin Luther King Preparatory High School,2018,all_students,151.0,27.8,2017.0,27.7
24726,985,Achievement School District,8140,Hillcrest High School,2018,all_students,152.0,29.6,2017.0,23.6

In [43]:
dropout19_df.columns

Index(['district_number', 'district_name', 'school_number', 'school_name',
       'year', 'subgroup', 'denominator', 'percent_dropout', 'baseline_year',
       'percent_dropout_previous'],
      dtype='object')

In [46]:
dropout19_df=dropout19_df[['district_name','school_name','percent_dropout']]

In [21]:
dropout19_df=dropout19_df[dropout19_df.subgroup =='all_students']

In [24]:
dropout19_df=dropout19_df.dropna()

In [32]:
dropout19_df=dropout19_df[dropout19_df['percent_dropout'] != '*']

In [38]:
dropout19_df['percent_dropout']=dropout19_df['percent_dropout'].astype(float)

<ipython-input-38-a2dedcbd45d0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropout19_df['percent_dropout']=dropout19_df['percent_dropout'].astype(float)

In [5]:
dropout18_df=dropout18_df[dropout18_df.subgroup =='All Students']

In [8]:
dropout18_df=dropout18_df.dropna()

In [13]:
#dropout18_df.shape
dropout18_df.percent_dropout.unique
#dropout18_df.tail(15)

<bound method Series.unique of 26          0
91        2.8
338       0.9
416       0.7
455       1.4
         ...
24193     4.5
24297    18.6
24310    11.9
24427     5.5
24453     7.6
Name: percent_dropout, Length: 352, dtype: object>

# clean finance data

In [57]:
finance_school = finance_school.rename(columns={'District Name': 'district_name', 'Total School Per Pupil Expenditures': 'Total_School_Per_Pupil_Expenditures',
                      'Total Expenditures Per School':'Total_Expenditures_Per_School',
                        'Local Percentage':'Local_Percentage','Federal Percentage':'Federal_Percentage',
                        'State Percentage':'State_Percentage'
                       
                       })

In [58]:
# drop missing
finance_school =finance_school.dropna()

In [4]:
#finance_school.isnull().sum()
#finance_school.shape
#finance_school.dtypes
#finance_school.head(5)

In [60]:
# remove % from columns
finance_school['Local_Percentage']=finance_school['Local_Percentage'].str.strip('%')
finance_school['Federal_Percentage']=finance_school['Federal_Percentage'].str.strip('%')
finance_school['State_Percentage']=finance_school['State_Percentage'].str.strip('%')

In [64]:
# convert to float
finance_school['Local_Percentage']=finance_school['Local_Percentage'].astype(float)
finance_school['Federal_Percentage']=finance_school['Federal_Percentage'].astype(float)
finance_school['State_Percentage']=finance_school['State_Percentage'].astype(float)

# clean district data 
## so it can be merged with finance

In [79]:
district_df['longitude'] = district_df['zipcode'].apply(get_long)
district_df['latitude'] = district_df['zipcode'].apply(get_lat)

In [84]:
# rename district
district_df= district_df.rename(columns={'district':'district_name'})

# merge district with finance

In [92]:
# merge by district_name
fd_df=district_df.merge(finance_school,how='inner', on="district_name")

In [97]:
#d_df.head(10)
fd_df.shape

(126, 9)

# group by distric with clean data

In [99]:
#tn_school.head(5)

In [100]:
# remove zip,long,lat,school_name
filt_tn_school=tn_school.drop(columns={'zipcode','longitude','latitude','school_name',})

In [102]:
filt_tn_school=filt_tn_school.groupby(['district_name']).mean()

In [104]:
filt_tn_school.head(5)

,students_total,percent_suspended,percent_expelled,percent_committed_zero_tolerance,graduation rate,dropout_rate,number of students total,percentage of ready graduates,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,percent_scoring_21_or_higher,percent_scoring_below_19
district_name,,,,,,,,,,,,,,,,
Achievement School District,434.6,10.98,0.04,0.68,47.34,31.60,134.4,0.00,69.6,10.68,12.24,11.78,11.98,11.80,4.26,52.00
Alcoa,712.0,7.40,0.60,2.10,98.80,0.60,172.0,59.30,100.0,21.10,20.00,21.60,20.90,21.10,53.50,32.90
Alvin C York Institute,547.0,0.00,0.00,0.00,91.90,5.90,136.0,36.00,98.0,18.50,19.30,19.50,19.10,19.30,39.80,50.40
Anderson County,1169.5,4.70,0.00,0.45,95.65,2.55,276.0,42.85,100.0,19.05,18.70,19.90,19.60,19.45,37.50,48.35
Arlington,2140.0,1.50,0.00,0.40,97.30,1.80,512.0,63.30,99.0,22.60,21.40,23.90,22.40,22.80,64.80,22.60

# merge with clean data

In [108]:
# merge by district_name
clean_county_data=fd_df.merge(filt_tn_school,how='inner', on="district_name")

In [111]:
clean_county_data=clean_county_data.dropna()

In [113]:
# convert to a csv
clean_county_data.to_csv('clean_county_data.csv', index=False)

# needed
## report data needs to filter to davidson county and merge by state
### drop rows that are not needed

# clean shchool data

In [5]:
zipcode_database = ZipCodeDatabase()

In [6]:
def get_long(zip):
    try:
        return zipcode_database[zip].longitude
    except:
        pass
def get_lat(zip):
    try:
        return zipcode_database[zip].latitude
    except:
        pass
school_df['longitude'] = school_df['zipcode'].apply(get_long)
school_df['latitude'] = school_df['zipcode'].apply(get_lat)

In [18]:
school_df.shape

(1878, 4)

# clean discipline data

In [8]:
discipline_df = discipline_df.iloc[1: , :]

In [9]:
discipline_df=discipline_df.dropna()

In [10]:
# counting the duplicates
#dups = discipline_df.pivot_table(index = ['school_name'], aggfunc ='size')

In [11]:
# dropping duplicate values
#discipline_df=discipline_df.drop_duplicates(subset=['school_name'])

In [15]:
discipline_df=discipline_df.drop(columns=['students_total'],axis=1)

# merge discipline and school data

In [20]:
# merge by school_name
merge_a=discipline_df.merge(school_df,how='right', on="school_name")

In [21]:
merge_a.shape

(2074, 8)

In [22]:
# dropping duplicate values
merge_a=merge_a.drop_duplicates(subset=['school_name'])

In [23]:
merge_a.shape

(1812, 8)

In [24]:
merge_a=merge_a.dropna()

In [25]:
merge_a.shape

(1731, 8)

# clean dropout data

In [313]:
dropout_df.isnull().sum()

district_name     9
school_name       9
subgroup          0
dropout_rate     47
dtype: int64

In [26]:
dropout_df=dropout_df[dropout_df.subgroup =='All Students']

In [33]:
dropout_df.shape

(372, 2)

In [28]:
dropout_df=dropout_df.dropna()

In [32]:
dropout_df.head(5)

                        school_name  dropout_rate
0       Anderson County High School           1.4
14              Clinton High School           3.7
38            Oak Ridge High School           6.6
55              Cascade High School           0.9
71  Shelbyville Central High School           8.7

In [31]:
dropout_df=dropout_df.drop(['district_name', 'subgroup'], axis=1)

# clean graduate data

In [34]:
gradrate_df=gradrate_df[gradrate_df.subgroup =='All Students']

In [40]:
# remove *
gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('*','0')

<ipython-input-40-e223408d1fa8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('*','0')

In [41]:
# remove **
gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('**','0')

<ipython-input-41-bcac58e43fa5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gradrate_df['graduation rate ']= gradrate_df['graduation rate '].replace('**','0')

In [42]:
gradrate_df['graduation rate ']=gradrate_df['graduation rate '].astype(float)

<ipython-input-42-6bf4b6800f7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gradrate_df['graduation rate ']=gradrate_df['graduation rate '].astype(float)

In [44]:
gradrate_df=gradrate_df[gradrate_df['graduation rate '] != 0]

In [46]:
gradrate_df.shape

(333, 4)

In [326]:
#gradrate_df=gradrate_df.drop(['district_name','subgroup'], axis=1)

# merge grad rate and dropout

In [47]:
# merge drop out and grad rate
merge_b=gradrate_df.merge(dropout_df,how='right', on="school_name")

In [50]:
merge_b.shape

(364, 5)

In [49]:
# dropping duplicate values
merge_b=merge_b.drop_duplicates(subset=['school_name'])

In [240]:
# drop columns
#merge_b=merge_b.drop(['district_name_y', 'subgroup_y'], axis=1)

In [332]:
# counting the duplicates
#dups = merge_b.pivot_table(index = ['school_name'], aggfunc ='size')

# merge a and b

In [51]:
merge_a.head(5)

,district_name,school_name,percent_suspended,percent_expelled,percent_committed_zero_tolerance,zipcode,longitude,latitude
0,Anderson County,Anderson County High School,2.5,0.0,0.5,37716,-84.14656,36.099283
2,Anderson County,Andersonville Elementary,0.0,0.0,0.0,37705,-84.01131,36.217896
3,Anderson County,Briceville Elementary,1.7,0.0,0.0,37710,-84.28968,36.152310
4,Anderson County,Claxton Elementary,1.5,0.0,0.0,37849,-84.04192,36.044507
5,Anderson County,Clinton Middle School,11.1,0.0,0.1,37716,-84.14656,36.099283

In [54]:
merge_b.head(5)

                       school_name  graduation rate   dropout_rate
0      Anderson County High School              96.1           1.4
1              Clinton High School              95.2           3.7
2            Oak Ridge High School              92.1           6.6
3              Cascade High School              98.2           0.9
4  Shelbyville Central High School              88.7           8.7

In [53]:
merge_b=merge_b.drop(['district_name', 'subgroup'], axis=1)

In [55]:
# merge 
merge_c=merge_a.merge(merge_b,how='right', on="school_name")

In [56]:
merge_c.shape

(364, 10)

In [58]:
#merge_c.head(5)

# clean readygrad_df

In [60]:
readygrad_df=readygrad_df[readygrad_df.subgroup =='All Students']

In [61]:
readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('*','0')

<ipython-input-61-c32b4b8656d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('*','0')

In [62]:
readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('**','0')

<ipython-input-62-bed3b0b863ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readygrad_df['percentage of ready graduates']= readygrad_df['percentage of ready graduates'].replace('**','0')

In [63]:
readygrad_df['percentage of ready graduates']=readygrad_df['percentage of ready graduates'].astype(float)

<ipython-input-63-e94b3c9c8ee0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readygrad_df['percentage of ready graduates']=readygrad_df['percentage of ready graduates'].astype(float)

In [68]:
readygrad_df[readygrad_df['percentage of ready graduates'] != 0]

,district_name,school_name,subgroup,number of students total,percentage of ready graduates
0,Anderson County,Anderson County High School,All Students,280,50.0
12,Anderson County,Clinton High School,All Students,272,35.7
26,Oak Ridge,Oak Ridge High School,All Students,304,65.5
41,Bedford County,Cascade High School,All Students,114,45.6
55,Bedford County,Shelbyville Central High School,All Students,390,24.9
...,...,...,...,...,...
4686,Wilson County,Mt. Juliet High School,All Students,550,64.0
4701,Wilson County,Watertown High School,All Students,145,37.9
4713,Wilson County,Wilson Central High School,All Students,457,48.4
4728,Wilson County,Tennessee Virtual On-Line School,All Students,17,58.8
4743,Alvin C York Institute,Alvin C. York Institute,All Students,136,36.0

In [66]:
readygrad_df.shape

(403, 5)

In [69]:
readygrad_df.head(20)

,district_name,school_name,subgroup,number of students total,percentage of ready graduates
0,Anderson County,Anderson County High School,All Students,280,50.0
12,Anderson County,Clinton High School,All Students,272,35.7
26,Oak Ridge,Oak Ridge High School,All Students,304,65.5
41,Bedford County,Cascade High School,All Students,114,45.6
55,Bedford County,Shelbyville Central High School,All Students,390,24.9
69,Bedford County,Community High School,All Students,128,31.3
82,Benton County,Big Sandy School,All Students,20,25.0
90,Benton County,Camden Central High School,All Students,140,27.9
101,Bledsoe County,Bledsoe County High School,All Students,120,32.5
115,Bledsoe County,Bledsoe County Middle School,All Students,1,0.0
120,Blount County,Heritage High School,All Students,346,31.5
135,Blount County,Samuel Everett School of Innovation,All Students,1,0.0
140,Blount County,William Blount High School,All Students,447,38.5
155,Alcoa,Alcoa High School,All Students,172,59.3
170,Maryville,Maryville High School,All Students,420,66.0
184,Bradley County,Bradley Central High School,All Students,389,51.2
199,Bradley County,North Cleveland GOAL Academy,All Students,41,9.8
211,Bradley County,Walker Valley High School,All Students,380,61.3
225,Bradley County,Bradley County Virtual School,All Students,16,50.0
232,Cleveland,Cleveland High,All Students,409,43.3

In [370]:
readygrad_df=readygrad_df.drop(['district_name', 'subgroup'], axis=1)

# ACT CLEAN

In [349]:
act_df=act_df[act_df.subgroup =='All Students']

In [350]:
act_df=act_df.drop([ 'subgroup'], axis=1)

In [351]:
act_df=act_df.dropna()

## replace *

In [352]:
act_df['participation_rate']= act_df['participation_rate'].replace('*','0')

In [353]:
act_df['average_english_score']= act_df['average_english_score'].replace('*','0')

In [354]:
act_df['average_math_score']= act_df['average_math_score'].replace('*','0')

In [355]:
act_df['average_reading_score']= act_df['average_reading_score'].replace('*','0')

In [356]:
act_df['average_science_score']= act_df['average_science_score'].replace('*','0')

In [357]:
act_df['average_composite_score']= act_df['average_composite_score'].replace('*','0')

In [358]:
act_df['percent_scoring_21_or_higher']= act_df['percent_scoring_21_or_higher'].replace('*','0')

In [359]:
act_df['percent_scoring_below_19']= act_df['percent_scoring_below_19'].replace('*','0')

## replace **

In [360]:
act_df['participation_rate']= act_df['participation_rate'].replace('**','0')

In [361]:
act_df['average_english_score']= act_df['average_english_score'].replace('**','0')

In [362]:
act_df['average_math_score']= act_df['average_math_score'].replace('**','0')

In [363]:
act_df['average_reading_score']= act_df['average_reading_score'].replace('**','0')

In [364]:
act_df['average_science_score']= act_df['average_science_score'].replace('**','0')

In [365]:
act_df['average_composite_score']= act_df['average_composite_score'].replace('**','0')

In [366]:
act_df['percent_scoring_21_or_higher']= act_df['percent_scoring_21_or_higher'].replace('**','0')

In [367]:
act_df['percent_scoring_below_19']= act_df['percent_scoring_below_19'].replace('**','0')

In [372]:
act_df.head(5)

,district_name,school_name,participation_rate,average_english_score,average_math_score,average_reading_score,average_science_score,average_composite_score,percent_scoring_21_or_higher,percent_scoring_below_19
0,Anderson County,Anderson County High School,100,19.8,19.4,20.7,20.1,20.1,42.8,42.8
4,Anderson County,Clinton High School,100,18.3,18,19.1,19.1,18.8,32.2,53.9
9,Oak Ridge,Oak Ridge High School,97,23,22.2,24.2,23.2,23.3,64.3,23.9
14,Bedford County,Cascade High School,99,20.7,19.5,21.3,21.1,20.8,46.8,34.2
19,Bedford County,Shelbyville Central High School,96,17.3,18.1,18.5,18.5,18.3,27.8,62.5

In [371]:
readygrad_df.head(5)

,school_name,number of students total,percentage of ready graduates
0,Anderson County High School,280,50.0
12,Clinton High School,272,35.7
26,Oak Ridge High School,304,65.5
41,Cascade High School,114,45.6
55,Shelbyville Central High School,390,24.9

In [84]:
readygrad_df.shape

(403, 6)

In [373]:
# merge drop out and grad rate
merge_d=readygrad_df.merge(act_df,how='right', on="school_name")

In [374]:
merge_d.shape

(411, 12)

In [376]:
#merge_c.head(15)

In [380]:
merge_d.shape

(411, 12)

In [379]:
merge_c.shape

(364, 11)

In [381]:
merge_c=merge_c.drop(['district_name'], axis=1)

In [383]:
# final merge
merge_e=merge_c.merge(merge_d,how='right', on="school_name")

In [385]:
merge_e.shape

(411, 21)

In [395]:
merge_e.shape

(354, 21)

In [389]:
merge_e= merge_e.dropna()

In [393]:
merge_e=merge_e.drop_duplicates(subset=['school_name'])

In [398]:
# convert to a csv
merge_e.to_csv('clean_data.csv', index=False)