In [1]:
import pandas as pd
import dtale
# helps convert zip to lat and long
from pyzipcode import ZipCodeDatabase

# import data

In [18]:

#absent
absent_df=pd.read_excel('../data/original_data/reportcarddata2019.xlsx','chronic_absenteeism'
                    )
# import finance data only need 141 rows the rest are missing
finance_school = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','finance'
                        )

#district info

district_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','district_info'
                              
                              )
# info on schools
school_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','school_info'
                              
                             )
# grade data
grade_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','overall_grades'
                              )
# data on teacher
teacher_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','teacher_retention'
                              
                           )
# data on staff
staffing_df = pd.read_excel('../data/original_data/reportcarddata2019.xlsx','school_info'
                              
                              )

# clean

# School cleaning

In [19]:
zipcode_database = ZipCodeDatabase()

In [20]:
def get_long(zip):
    try:
        return zipcode_database[zip].longitude
    except:
        pass
def get_lat(zip):
    try:
        return zipcode_database[zip].latitude
    except:
        pass
school_df['longitude'] = school_df['zipcode'].apply(get_long)
school_df['latitude'] = school_df['zipcode'].apply(get_lat)

In [21]:
school_df =school_df[['district_name','school_name','zipcode','longitude','latitude']]

# absent cleaning

In [56]:
absent_df

,district_name,school_name,percent_ca
15,Anderson County Schools,Anderson County High School,15.1
20,Anderson County Schools,Andersonville Elementary,8.6
25,Anderson County Schools,Briceville Elementary,9.4
30,Anderson County Schools,Claxton Elementary,14.4
35,Anderson County Schools,Clinton Middle School,20.8
...,...,...,...
9505,Achievement School District,Memphis Scholars Raleigh-Egypt,37.5
9510,Achievement School District,Kirby Middle School,25.1
9515,Achievement School District,Hillcrest High School,42.1
9525,Tennessee State Board of Education,Bluff City High School,29.9
9530,Tennessee State Board of Education,KIPP Antioch College Prep Elementary,2.9

In [24]:
absent_df=absent_df[absent_df.subgroup =='all_students']

In [29]:
absent_df=absent_df[absent_df.school_name !='All Schools']

In [46]:
absent_df=absent_df[['district_name','school_name','percent_ca']]

In [51]:
absent_df=absent_df[absent_df['percent_ca'] != '*']

In [52]:
absent_df=absent_df[absent_df['percent_ca'] != '**']

In [54]:
absent_df['percent_ca']=absent_df['percent_ca'].astype(float)

In [57]:
absent_df.dtypes

district_name     object
school_name       object
percent_ca       float64
dtype: object

# grade cleaning

In [35]:
grade_df=grade_df[['district_name','school_name','pool','score_achievement',]]

In [43]:
grade_df= grade_df.dropna()

In [44]:
grade_df.dtypes

district_name         object
school_name           object
pool                  object
score_achievement    float64
dtype: object

# teacher cleaning

In [60]:
teacher_df= teacher_df[['district_name','school_name','percent_retained']]

In [62]:
teacher_df=teacher_df[teacher_df.school_name !='All Schools']

In [66]:
teacher_df=teacher_df.dropna()

In [73]:
teacher_df=teacher_df[teacher_df['percent_retained'] != '**']

In [74]:
teacher_df=teacher_df[teacher_df['percent_retained'] != '*']

In [75]:
teacher_df['percent_retained']=teacher_df['percent_retained'].astype(float)

In [77]:
teacher_df.shape

(1712, 3)

# staff cleaning

In [78]:
staffing_df

,district_number,district_name,school_number,school_name,year,street_address_1,street_address_2,street_address_3,city,state,zipcode,phone1,phone2,countyname,principal,grades_served,message
0,10,Anderson County Schools,2,Anderson County High School,2019,130 Maverick Cir,NaN,NaN,Clinton,TN,37716,(865) 457-4716,NaN,Anderson County,Ben Downs,Grades 9-12,NaN
1,10,Anderson County Schools,5,Andersonville Elementary,2019,1951 Mountain Rd,NaN,NaN,Andersonville,TN,37705,(865) 494-7695,NaN,Anderson County,Beth Roeder,Grades PK-5,NaN
2,10,Anderson County Schools,10,Briceville Elementary,2019,103 Slatestone Rd,NaN,NaN,Briceville,TN,37710,(865) 426-2289,NaN,Anderson County,Travis Hutcheson,Grades PK-5,NaN
3,10,Anderson County Schools,15,Claxton Elementary,2019,2218 Clinton Hwy,NaN,NaN,Powell,TN,37849,(865) 945-2222,NaN,Anderson County,Jennifer Coleman,Grades PK-5,NaN
4,10,Anderson County Schools,20,Clinton Middle School,2019,110 N Hicks St,NaN,NaN,Clinton,TN,37716,(865) 457-3451,NaN,Anderson County,RaeAnn Owens,Grades 6-8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1753,985,Achievement School District,8130,Memphis Scholars Raleigh-Egypt,2019,1380 Pennsylvania Avenue,NaN,NaN,Memphis,TN,38106,(901) 647-0840,NaN,Shelby County,Heather Johnson,Grades 6-8,NaN
1754,985,Achievement School District,8135,Kirby Middle School,2019,6670 E Raines Rd,NaN,NaN,Memphis,TN,38115,(901) 730-8169,NaN,Shelby County,Marian Williams,Grades 6-8,NaN
1755,985,Achievement School District,8140,Hillcrest High School,2019,4184 Graceland Dr,NaN,NaN,Memphis,TN,38116,(901) 730-4098,NaN,Shelby County,Christina Austin,Grades 9-12,NaN
1756,986,Tennessee State Board of Education,8005,Bluff City High School,2019,4100 Ross Rd,NaN,NaN,Memphis,TN,38115,(901) 881-7375,NaN,Shelby County,Brittany Matt,Grades 9-12,NaN
1757,986,Tennessee State Board of Education,8015,KIPP Antioch College Prep Elementary,2019,3655 Murfreesboro Pike,NaN,NaN,Antioch,TN,37013,(615) 226-4484,NaN,Davidson County,Molly Ramsey,Grades K-4,NaN

# finance cleaning

In [ ]:
finance_2019=finance_2019[['district_name','district_ppe','local_funding_percent','state_funding_percent']]

In [ ]:
test_fnance_df=score_df.merge(finance_2019,how='inner',on='district_name')

In [ ]:
test_fnance_df=test_fnance_df.drop_duplicates(subset=['district_name'])